.cell{
	width:50px;
	height: 70px;

	font-size: 50px;

	background: url("Images/line.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 50px;
}

#title{
	position:relative;
	font-size: 60px;
	margin:10px;
}

#hang{
	position: relative;

	width: 130px;
	height: 130px;

	margin:0px;
}

#gameContainer{
	font-family: "Caveat Brush", cursive;

	font-weight: bold;
	font-style: normal;

	text-align: center;

	margin:0px;
}

#wordContainers{
	position:relative;
	top:10px;

	display:flex;
	justify-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
	gap: 10px; 

}

#inputBox{
	position:relative;
	left:2px;
	bottom: 21px;

	text-transform:uppercase;

	text-indent: 100px;
	letter-spacing: 43.5px;

	margin:40px;
	width:700px;
	height:50px;
	
	background: transparent;
    background-position: 17px;
    background-size: 1100px 80px;
	border-radius: 10px;
    border:solid 5px;
	outline:none;

	font-family: "Nova Mono", serif;
	font-size:30px;	
	font-weight:bold;
}

#KeyBoard{
	position:relative;
	bottom: 100px;

	display:flex;
	justify-content:center;
}

.keyButton{
	border-radius: 5px;
	border:solid 2px;

	font-family:"Caveat Brush", cursive;
	font-size:20px;
}

#firstRow{
	position:relative;
	left:600px;
	top:60px;
	display:grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: 50px;
	grid-gap:10px;
}
#secondRow{
	position:relative;
	top:120px;
	left:40px;

	display:grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: 50px;
	grid-gap:10px;
}
#thirdRow{
	position:relative;
	top:180px;
	right:490px;

	display:grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: 50px;
	grid-gap:10px;
}

#statusText{
	position: relative;
	top: 300px;

	font-size: 42px;
}

#restartBtn{
	/*
	position: relative;
	bottom: 10px;

	font-family: "Caveat Brush", cursive;
	font-size: 25px;

	background-image: url("Images/swoosh.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 160px;

	background-color: transparent;
	border:none;

	cursor: pointer;
	width:150px;
	height: 75px;
	*/
}

body{
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}